*{
    margin: 0;
    padding:0;
    box-sizing:border-box ;
}


body{
    font-family: 'Inter', sans-serif;
    background: black;
    color:beige;
}

header{
    position:fixed;
    top:0;
    width:100%;
    background:black;
    backdrop-filter: blur(6px);
    z-index:100;
}

.nav{
    max-width:1200px;
    margin:auto;
    padding:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:45px;
    font-weight:800px;
    color:red;
    letter-spacing: 1px;
    font-weight: bolder;
}

.nav-buttons section button{
      margin-left: 12px;
      padding: 10px 18px;
      border-radius: 4px;
      border: none;
      font-weight: 600;
      cursor: pointer;
}

.lang {
    background:black;
    color:white;
    padding: 10px;
    border-radius: 8px;
    border-color:white;
    margin-right: 10px;
}
.signin{
    background: red;
    color:white;
    padding:10px;
    border-radius: 8px;
    border-color:red;
    margin-left:10px;
    cursor:pointer;
    width:100px;
}
.contents{
    height:100vh;
    background: linear-gradient(to top, #110505 15%, rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
        url('images/background.jpg') center/cover no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 20px;
}

.content-1{
     max-width: 800px;
}

.contents h1{
      font-size: 3rem;
      font-weight: 800;
      line-height: 1.2;
}

.contents p {
      margin-top: 20px;
      font-size: 1.2rem;
      color: #ddd;
    }

.content-2 {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      gap: 15px;
      flex-wrap: wrap;
}

.content-2 input{
    padding: 16px 30px;
    font-size:1rem;
    font-weight:400;
    border-radius: 5px;
    border-color: white;
    cursor:pointer;
}

.content-2 button{
    padding: 16px 30px;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 4px;
      border: none;
      cursor: pointer;
}

.email{
    background:black;color:white;
    width: 500px;
}

.started{
    background:red;
    color:white; 
    border:1px solid white;
}

.section{
    max-width:1200px;
    margin:auto;
    padding:80px 20px;
}

.section h2{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.grid{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap:15px;
}

.card{
    border-radius:10px;
    overflow:hidden;
    transition:transform 0.3s ease;
}

.card:hover{
    transform: scale(1.08);
}

.card img{
    width:100%;
    height: 100%;
    object-fit:cover;
}



.section-1{
    max-width:1200px;
    margin:auto;
    padding:80px 20px;
}

.section-1 h2{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

.grid-1{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px, 1fr));
    gap:15px;
}

.card-1{
    border-radius:10px;
    overflow:hidden;
    width:260px;
    height:230px;
}



.card-1 img{
    width:100%;
    height: 100%;
    object-fit:cover;
}




.question{
    max-width:1200px;
    margin:auto;
    padding:80px 20px;
}

.question h2{
    font-size: 1.6rem;
    margin-bottom: 20px;
}


.faq-item{
    background:#2b2929;
    margin-bottom:10px;
    border-radius:4px;
    overflow:hidden;
}

.faq-item summary{
    list-style:none;
}

.faq-item summary::-webkit-details-marker{
    display:none;
}

.faq-question{
    padding:20px;
    font-size:20px;
    font-weight:500;
    color:white;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.faq-question span{
    font-size: 30px;
    transition:transform 0.3s ease;

}

.faq-item[open] .faq-question span{
    transform:rotate(45deg);
}

.faq-answer{
    background: #303030;
    color:#ddd;
    font-size:18px;
    line-height:1.6;
    padding: 0 20px;
    max-height: 0;
    overflow:hidden;
    transition:max-height 0,4s ease,padding 0.4s ease;

}

.faq-item[open] .faq-answer{
    max-height:500px;
    padding:20px;
}

.faq-question:hover{
    background:#404040;
}

.sect{
    height:20vh;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:0 20px;
}

footer {
      border-top: 1px solid #222;
      padding: 30px;
      text-align: center;
      font-size: 0.9rem;
      color: #777;
    }